<div class="container">
    {{pageTitle}}
    <div class="row">
        <div class="col-10 mx-auto">
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">Nombre de empresa</th>
                      <th scope="col">Estado</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let element of employers">
                      <td> {{element.username}}</td>
                      <td><button class="btn btn-outline-primary" (click)="changeState(element.username, element.state)">
                        {{element.state}}
                      </button></td>
                    </tr>
                    </tbody>
            </table>
        </div>
    </div>
</div>
