<mat-card class="container m-1" [routerLink]="['/offers',offer.id]">
  <div class="row">
    <div class="col-4">
      <mat-card-title class="d-flex flex-column bg-light">
        <div class="pt-2"> {{offer.position}}
          <mat-card-subtitle class="pt-1">
            {{offer.company}}
          </mat-card-subtitle>
        </div>
      </mat-card-title>
    </div>
    <div class="col-8">
      <div *ngIf="offer">
        <div class="d-flex justify-content-between">
          <div class="ml-2 text-muted">
            {{offer.minimumRequirements }}
          </div>
          <div class="ml-2">
            {{offer.dueDate | date:'shortDate'}}
          </div>
        </div>
        <mat-card-content>
          {{offer.description}}
        </mat-card-content>
      </div>
    </div>
  </div>
</mat-card>