
    <div class="card">
        <div class="card-header bg-dark text-white">Work experiences</div>
        <div class="card-body">
            {% for workexperience in cv.workexperiences %}
                {{ include('cvmgr/workexperiences/show.html.twig', { 'workexperience': workexperience }) }}
            {% endfor %}

        </div>
        <div class="card-header bg-dark text-white">Studies</div>
        <div class="card-body">
            {% for study in cv.studies %}
                {{ include('cvmgr/studies/show.html.twig', { 'study': study }) }}
            {% endfor %}

        </div>
        <div class="card-header bg-dark text-white">Languages</div>
        <div class="card-body">
            {% for language in cv.languages %}
                {{ include('cvmgr/languages/show.html.twig', { 'language': language }) }}
            {% endfor %}

        </div>
        <div class="card-header bg-dark text-white">Other knowledges</div>
        <div class="card-body">
            {% for otherknowledge in cv.otherknowledges %}
                {{ include('cvmgr/otherknowledge/show.html.twig', { 'otherknowledge': otherknowledge }) }}
            {% endfor %}

        </div>

    </div>




