<h1 mat-dialog-title>Modificar estado</h1>
<form mat-dialog-content [formGroup]="stateForm" (ngSubmit)="onSubmit()">

    <mat-radio-group aria-label="Selecciona nuevo estado">
        <div>
            <input id="waiting" type="radio" formControlName="state" name="state" value="0" />
            <label for="waiting">Esperando</label>
        </div>
        <div>
            <input id="validated" type="radio" formControlName="state" name="state" value="1" />
            <label for="validated">Validado</label>
        </div>
        <div>
            <input id="rejected" type="radio" formControlName="state" name="state" value="2" />
            <label for="rejected">Rechazado</label>
        </div>       
    </mat-radio-group>
    <div *ngIf="isSet && myForm.invalid">
        Selecciona una opción
    </div>
    <button type="submit">Submit</button>
</form>