<div class="container">
    {{pageTitle}}
    <div class="row">
        <div class="col-8 mx-auto">
            <form class="form d-flex flex-row " novalidate (ngSubmit)="search()" [formGroup]="searchForm">
               <div class="p-2">
                <input class="form-control" type="text" formControlName="keyword" name="keyword"  />
               </div>
               <div class="p-2">
                <button class="btn btn-primary" type="submit">  Buscar</button> 
               </div>
            </form>
        </div>
    </div>
    <div *ngIf="isFormSubmitted">
        <mat-spinner></mat-spinner>
      </div>
    <div *ngIf="cvs"  class="row">
        <ul class="list-group" >
            <li class="list-group-item" *ngFor="let element of cvs; index as i"> 
              <div class="d-flex justify-inline-content">
                  <div class="p-2 lead bg-light">
                    {{students[i]}}
                  </div>
                  <div class="p-2 muted"> 
                    CV: {{ element }} 
                 </div> 
                 <div class="float-right">
                    <button class="btn btn-small btn-outline-success" (click)="loadCV(element)">Descargar</button>
                </div>
              </div>
            </li>
        </ul>
    </div>
</div>
