
   <ul class="list-group my-2">
        <li class="list-group-item bg-light">
            <ul class="list-inline">
                <li class="list-inline-item"><h4> {{ language.vName }} </h4></li>
                <li class="list-inline-item"><h6> {{ language.vTitle  }} </h6></li>
            </ul>
        </li>
        <li class="list-group-item ">
            {{  language.ltextDescription  |raw }}
        </li>
    </ul>
