<div *ngIf="!offer" >Cargando...</div>
<div  *ngIf="offer"  class="card" style="width: 18rem;">
    <div class="card-header">
      {{offer.position}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{offer.numberOfApplyments}}</h5>
      <div class="card-text">
        <div class="card-text-description">
          <p>
            {{offer.description}}
          </p>         
        </div>
        <div *ngIf="offer.minimumRequirements" class="card-text-requirements">
          <ul class="list-group list-group-flush">
            <li *ngIf="offer.minimumRequirements" class="list-group-item">
              {{offer.minimumRequirements}}
            </li>           
          </ul>
        </div>
  
      </div>
      <a href="#" class="btn btn-primary">Editar</a>
    </div>
  </div>